body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

#editor {
    width: 80%;
    height: 70vh;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    resize: none;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#saveButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

#saveButton:hover {
    background-color: #45a049;
}

input[type="file"] {
    margin: 20px;
}

::-webkit-file-upload-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

::-webkit-file-upload-button:hover {
    background-color: #0b7dda;
}
